.form-sec{
    width: 100vw;
    height: 100vh;
    background-color: #dadada;
}
form{
    width: 28rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container{
    height: 100vh;
}
#buton{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#buton:hover{
    background-color: rgb(202, 200, 200);
}